name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Deploy examples
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
    - name: Setup mdBooks
      uses: peaceiris/actions-mdbook@v1
      with:
        mdbook-version: '0.4.6'

    - run: mdbook build ./examples/figaro
    - run: mdbook build ./examples/torikaeshi

    - name: Deploy mdBook (Figaro)
      uses: pieceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./examples/figaro/book
        destination_dir: figaro
    - name: Deploy mdBook (Torikaeshi)
      uses: pieceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./examples/torikaeshi/book
        destination_dir: torikaeshi
